.hero {
  height: 500px;
  background-image: linear-gradient(90deg, rgba(87, 104, 127, 0.8) 50%, rgba(87, 104, 127, 0.8) 50%), url("./pictures/bg-hero.png");
  background-size: 100% 30%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center center;
  color: $colorDustyBlue;

  @include phones {
    background-image: none;
    background-color: $colorLightBlue;
  }

  &__container {
    justify-content: space-between;
    max-width: $maxWidth;

    @include phones {
      justify-content: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 50%;

    @include phones {
      width: 100%;
      text-align: center;
    }
  }

  &__desc {
    font-size: 22.5px;

    &--first {
      @include phones {
        display: none;
      }
    }

    &--second {
      @include phones {
        color: #a3a5af;
        font-size: 1.3rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;

      }
    }

  }

  &__title {
    @include phones {
      font-size: 1.7rem;
    }
  }

  &__nav {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    @include phones {
      display: none;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__item {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
      transition: 1s ease-in-out;

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10px;
        background-color: $colorRed;
      }
    }

    &--current {
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10px;
        background-color: $colorRed;
      }

    }

    &-link {
      font-size: 15px;
      font-weight: 300;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
    }

    &-icon {
      margin-bottom: 16px;
    }
  }
}