.hero {
  height: 500px;
  background-image: linear-gradient(90deg, rgba(87, 104, 127, 0.8) 50%, rgba(87, 104, 127, 0.8) 50%), url("./pictures/bg-hero.png");
  background-size: 100% 30%, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center center;
  color: $colorDustyBlue;

  @include phones {
    background-image: none;
    background-color: #f6f9fb;
    position: relative;

    &:after {
      content: "";
      width: 18.75rem;
      height: 21.875rem;
      display: block;
      border-radius: 6.25rem;
      transform: rotate(45deg);
      background-color: #eaf0f4;
      position: absolute;
      top: -17.1875rem;
      left: -0.625rem;
    }

  }

  &__container {
    justify-content: space-between;
    max-width: $maxWidth;
    position: relative;

    @include phones {
      justify-content: center;

      &:before {
        content: "";
        width: 18.75rem;
        height: 21.875rem;
        display: block;
        border-radius: 3.75rem;
        transform: rotate(45deg);
        background-color: #eaf0f4;
        position: absolute;
        bottom: 1.5625rem;
        right: -10.9375rem;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 50%;

    @include phones {
      width: 100%;
      text-align: center;
      justify-content: space-between;
      align-items: center;
      flex: 1;
      position: relative;

      &:after {
        content: "";
        background-image: url(./pictures/ball2.png);
        background-repeat: no-repeat;
        display: block;
        width: 5rem;
        height: 5rem;
        position: absolute;
        bottom: 40%;
        left: 0%;
      }


    }
  }

  &__desc {
    font-size: 22.5px;

    &--first {
      @include phones {
        display: none;
      }
    }

    &--second {
      @include phones {
        color: #a3a5af;
        font-size: 1.3rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        max-width: 70%;
        margin-bottom: 30px;


      }
    }

  }

  &__title {
    @include phones {
      font-size: 1.7rem;
    }
  }

  &__nav {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

    @include phones {
      display: none;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__item {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
      transition: 1s ease-in-out;

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10px;
        background-color: $colorRed;
      }
    }

    &--current {
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10px;
        background-color: $colorRed;
      }

    }

    &-link {
      font-size: 15px;
      font-weight: 300;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
    }

    &-icon {
      margin-bottom: 16px;
    }
  }
}