.sidebar-menu {
  width: 20rem;
  position: fixed;
  z-index: 1;
  top: 5px;
  left: 10px;
  padding: 8px 0;
  display: flex;
  flex-direction: column;

  @include phones {
    display: none;
  }

  &__nav {
    display: flex;
    flex-direction: column;

    &--first {
      margin-bottom: 30px;
    }

    &--second {
      box-shadow: -1px 25px 36px -20px rgba(0, 0, 0, 0.25);
    }
  }

  &__item {
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {

      .sidebar-menu__text {
        display: flex;
      }
    }
  }

  &__text {
    display: none;
    padding: 7px;
    color: white;
    background-color: $colorRed;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    top: 0;
    left: 20%;
  }

  &__icon {
    width: 55px;
  }

  &__row {
    background-color: $colorRed;
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);

    &:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:last-child {
      border-bottom: none;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &--insides {
      background-color: $colorLightBlue;
      display: none;
    }
  }

  &__desc {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
  }

  &__img {
    margin-right: 30px;
  }

  &__link {
    font-size: 15.1px;
    color: $colorDustyBlue;
  }
}