.sidebar-menu {
  position: fixed;
  z-index: 1;
  top: 5px;
  left: 10px;
  padding: 8px 0;
  display: flex;
  flex-direction: column;

  @include phones {
    display: none;
  }

  &__nav {
    display: flex;
    flex-direction: column;

    &--first {
      margin-bottom: 30px;
      width: 20rem;

      @media screen and (max-width: 1800px) {
        margin-bottom: 10px;
      }
    }

  }

  &__item {
    width: 100%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {

      .sidebar-menu__text {
        display: flex;
      }
    }
  }

  &__text {
    display: none;
    padding: 7px;
    color: white;
    background-color: $colorRed;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    position: absolute;
    top: 0;
    left: 20%;

    @media screen and (max-width: 1800px) {
      padding: 6px;
      font-size: 18px;
      left: 18%;
    }
  }

  &__icon {
    width: 55px;

    @media screen and (max-width: 1800px) {
      width: 3rem;
    }
  }


}


.sidebar-menu {
  &__row {
    display: flex;
    flex-direction: column;
    width: 18rem;

    @media screen and (max-width: 1800px) {
      width: 3rem;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    background-color: $colorRed;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    cursor: pointer;
    position: relative;

    @media screen and (max-width: 1800px) {
      padding: 5px 5px;
    }
  }

  &__list {
    padding: 10px;
    background-color: $colorLightBlue;
    width: 100%;
    padding-left: 20px;
    display: none;
    border-bottom-right-radius: 10px;
  }

  &__desc {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;

    @media screen and (max-width: 1800px) {
      font-size: 0.8rem;
      display: none;
    }

  }

  &__img {
    margin-right: 30px;

    @media screen and (max-width: 1800px) {
      margin-left: 5px;
      margin-right: 10px;

    }
  }

  &__link {
    font-size: 15.1px;
    color: $colorDustyBlue;

    &:hover {
      color: $colorRed;
    }

    @media screen and (max-width: 1800px) {
      font-size: 12px;
    }

  }
}

ul#sections-nav>li:first-child>.sidebar-menu__head {
  border-top-left-radius: 10px;
}

ul#sections-nav>li:last-child>.sidebar-menu__head {
  border-bottom-left-radius: 10px;
}

ul#sections-nav>li:last-child:hover>.sidebar-menu__head {
  border-bottom-left-radius: 0px;
}

ul#sections-nav>li:last-child:hover>.sidebar-menu__list {
  border-bottom-left-radius: 10px;
}

ul#sections-nav>li:hover {
  width: 18rem;

  .sidebar-menu__head {
    border-bottom-right-radius: 0px;
  }

  .sidebar-menu__desc {
    display: block;
  }
}

ul#sections-nav>li:hover>ul.sidebar-menu__list {
  display: block;
}