.interface {

  padding: 110px 0px;

  @media screen and (max-width: 710px) {
    padding: 70px 0px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 890px) {
      max-width: 90%;
    }

    @media screen and (max-width: 710px) {
      align-items: flex-start;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 98px;
    max-width: 33.1875rem;

    @media screen and (max-width: 890px) {
      max-width: 100%;
      align-items: flex-start;
      text-align: left;
    }

    @media screen and (max-width: 710px) {
      max-width: 90%;
      margin-bottom: 40px;
    }
  }

  &__subtitle {
    line-height: 47px;
  }

  &__subtext {
    font-size: 20px;
    font-weight: 300;

    @include phones {
      font-size: 1.5rem;
    }
  }

  &__row {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (max-width: 710px) {
      margin-bottom: 0;
    }

    @media screen and (max-width: 710px) {
      .interface__item:last-child {
        margin-bottom: 0;
        border: none;
        padding-bottom: 0;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media screen and (max-width: 710px) {
      flex-direction: column;
    }
  }

  &__item {
    margin-right: 50px;
    flex: 1;

    &:last-child {
      margin-right: 0px;
    }

    &-subtitle {
      font-size: 28px;
      margin-top: 23px;
      margin-bottom: 23px;
      font-weight: 500;
      line-height: 30px;

      @include phones {
        font-size: 2rem;
        line-height: 2.4rem;
      }
    }

    @media screen and (max-width: 710px) {
      margin-right: 0;
      padding-bottom: 0.1125rem;
      margin-bottom: 2.1125rem;
      border-bottom: dotted 1px rgba(89, 126, 150, 0.3);
    }
  }

  &__info {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 35px;

    @include phones {
      font-size: 1.3rem;
    }
  }

  &__img--1 {
    width: 38px;
    height: 52px;
  }

  &__img--2 {
    width: 62px;
    height: 39px;
  }

  &__img--3 {
    width: 50px;
    height: 47px;
  }

  &__img--4 {
    width: 45px;
    height: 45px;
  }

  &__img--5 {
    width: 42px;
    height: 49px;
  }

  &__img--6 {
    width: 42px;
    height: 49px;
  }

  &__icon {
    width: 100%;
    height: 100%;
  }
}