.strategy {
  background-image: url("./pictures/browser.png");
  background-size: 87%;
  background-position: -357% 5%;
  background-repeat: no-repeat;
  margin-top: 5.875rem;
  padding: 8rem 0px 8rem 0px;

  @media screen and (max-width: 890px) {
    background-image: none;
    padding: 50px 0px 50px 0px;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 890px) {
      max-width: 90%;
      flex-direction: column;
    }
  }

  &__subtitle {
    line-height: 45px;
  }

  &__head {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 140px;
    max-width: 605px;

    @media screen and (max-width: 890px) {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 40px;
    }
  }

  &__body {
    flex: 2;
  }

  &__subtext {
    font-size: 24px;
    font-weight: 300;
  }

  &__row {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;

      @media screen and (max-width: 710px) {
        .strategy__item:last-child {
          margin-bottom: 0;
          border: none;
          padding-bottom: 0;
        }
      }
    }

    @media screen and (max-width: 710px) {
      margin-bottom: 0;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    @media screen and (max-width: 710px) {
      flex-direction: column;
    }
  }

  &__item {
    margin-right: 70px;
    flex: 1;

    &:last-child {
      margin-right: 0px;
    }

    &-subtitle {
      font-size: 28px;
      margin-top: 23px;
      margin-bottom: 23px;
      font-weight: 500;
      line-height: 30px;

      @include phones {
        font-size: 2rem;
        line-height: 2.4rem;
      }
    }

    @media screen and (max-width: 710px) {
      margin-right: 0;
      padding-bottom: 0.9125rem;
      margin-bottom: 2.8125rem;
      border-bottom: dotted 1px rgba(89, 126, 150, 0.3);
    }
  }

  &__info {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 35px;

    @include phones {
      font-size: 1.3rem;
    }
  }

  &__img--1 {
    width: 58px;
    height: 53px;
  }

  &__img--2 {
    width: 41px;
    height: 64px;
  }

  &__img--3 {
    width: 59px;
    height: 32px;
  }

  &__img--4 {
    width: 52px;
    height: 50px;
  }

  &__icon {
    width: 100%;
    height: 100%;
  }
}