.point-features {

  padding: 140px 0px 115px 0px;
  background-color: #f1f7fd;

  background-image: url('./images/icons/vendor.svg');
  background-size: 716px 734px;
  background-repeat: no-repeat;
  background-position: center right -150px;

  @include tablets {
    padding: 50px 50px 50px 50px;
    background-position: center right -240px;
  }

  @include phones {
    padding: 370px 0 50px 0;
    background-image: url('./images/icons/vendor.svg');
    background-size: 473px 353px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 5%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @include phones {
      margin-top: 50px;
    }
  }

  &__row {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

    &:last-child {
      margin-bottom: 0;
    }

    @include tablets {
      width: 70%;
    }

    @include phones {
      width: 100%;
      margin-bottom: 0px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include phones {
      flex-direction: column;
    }
  }

  &__item {
    margin-right: 45px;
    flex: 1;

    @include phones {
      margin-right: 0;
      margin-bottom: 35px;

    }




    &:last-child {
      margin-right: 0;
    }

    &-subtitle {
      font-weight: 500;
      font-size: 28px;
      margin-top: 33px;
      margin-bottom: 33px;
      line-height: 30px;

      @include phones {
        font-size: 2rem;
        line-height: 2.4rem;
      }

    }

    .subtitle {
      @include phones {
        margin-bottom: 0;
      }
    }
  }

  &__icon--1 {
    width: 61px;
    height: 43px;
    background-image: url('./images/icons/icon-hardware.svg');

  }

  &__icon--2 {
    width: 47px;
    height: 47px;
    background-image: url('./images/icons/icon-europe.svg');

  }

  &__icon--3 {
    width: 75px;
    height: 47px;
    background-image: url('./images/icons/icon-maestro.svg');

  }


  &__info {
    font-size: 20px;
    font-weight: 300;

    @include phones {
      font-size: 1.3rem;
    }
  }
}