.point-transactions {

  background-color: white;
  background-image: url('./pictures/pos-ipad-text.png');
  background-position: center right -100px;
  background-repeat: no-repeat;
  background-size: 860px 660px;
  position: relative;

  @include tablets {
    padding: 50px;
    background-position: center bottom;

  }


  @include phones {
    background-image: url("./pictures/pos-ipad.png");
    background-size: 430px 330px;
    background-position: center bottom;
    padding: 0px 0 0px 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }


  &__container {
    display: flex;
    align-items: center;

    @include phones {
      flex-direction: column;
    }
  }


  &__info {
    width: 35%;
    max-width: 300px;

    margin-right: 60px;

    @include tablets {
      width: 80%;
      max-width: 100%;
      margin-bottom: 650px;
    }

    @include phones {
      width: 100%;
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }


  &__subtitle {
    margin-bottom: 43px;
  }

  &__desc {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 28px;

  }

  &__link {
    display: inline;
    white-space: nowrap;
    font-size: 24px;
    font-weight: 300;
    color: $colorRed;
    border-bottom: 1px dotted $colorRed;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    position: relative;

    &:after {
      content: "\2192";
      display: block;
      font-size: 18px;
      color: $colorRed;
      position: absolute;
      top: 0;
      right: -25px;
    }
  }

  &__list {
    display: none;

    @include phones {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
      padding-bottom: 21.125rem;

    }
  }

  &__item {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__sub {
    font-size: 28px;
    font-weight: 500;
    line-height: 22px;

    @include phones {
      font-size: 2rem;
      line-height: 2.4rem;
    }
  }

  &__text {
    font-size: 20px;
    font-weight: 300;

    @include phones {
      font-size: 1.3rem;
    }
  }

}