.checkout-features {
  min-height: 350px;

  &__container {
    padding-top: 90px;
    border-top: 1px dotted rgba(89, 126, 150, .3);

    @media screen and (max-width: 890px) {
      max-width: 90%;
      padding-bottom: 50px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 690px) {
      flex-direction: column;
    }
  }

  &__desc {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;

    @include phones {
      font-size: 1.3rem;
    }
  }

  &__item {
    margin-right: 20px;
    flex: 1;

    &:last-child {
      margin-right: 0px;
    }

    &-subtitle {
      font-size: 28px;
      margin-bottom: 33px;
      line-height: 30px;
      font-weight: 500;

      @include phones {
        font-size: 2rem;
        line-height: 2.4rem;
      }
    }

    @media screen and (max-width: 690px) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__link {
    margin-right: 50px;
    display: inline;
    font-size: 20px;
    font-weight: 300;
    color: $colorRed;
    border-bottom: 1px dotted $colorRed;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &:after {
      content: "\2192";
      display: block;
      font-size: 18px;
      color: $colorRed;
      position: absolute;
      top: 0;
      right: -25px;
    }

  }
}