.hero {
  position: relative;
  min-height: 100vh;

  @include tablets {
    min-height: 700px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: 70px;

    @include phones {
      padding-bottom: 0;
    }

    @include tablets {
      flex-direction: column-reverse;
      justify-content: flex-start;
    }
  }

  &__content {
    width: 46%;

    @include tablets {
      width: 80%;
    }

    @include phones {
      width: 100%;
    }
  }

  &__img {
    width: 540px;
    height: 562px;

  }

  &__pic {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__subtitle {
    margin: 15px 0 40px;
    padding: 0 5% 0 0;

    font-size: 24px;
    font-weight: 300;
    line-height: 34px;

    @include tablets {
      padding: 0;
    }


  }
}

.contacts {
  padding: 10px 24px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  outline: none;
  color: inherit;
  border-radius: 21px;
  cursor: pointer;
  white-space: nowrap;

  &--hover-menu {
    background-color: $colorRed;
    border: 1px solid $colorRed;
    color: $colorWhite;
  }

  &--bright-bg {
    border: solid 1px rgba(0, 0, 0, .1);
  }


}

.ditails {
  display: flex;
  align-items: center;
}


.start__btn {
  font-size: 18px;
  color: $colorDark;
  padding: 0.5975rem 1.25rem 0.5175rem 1.875rem;
  border: 1.9px solid white;
  background-color: $colorWhite;
  white-space: nowrap;
  outline: none;
  border-radius: 21px 0 0 21px;
  cursor: pointer;

  margin-right: 50px;

  position: relative;

  &:after {
    content: "";
    display: block;
    border: 23px solid transparent;
    border-left: 23px solid #fff;
    position: absolute;
    top: -2.5px;
    left: 100%;
  }
}


.ditails__link {
  font-size: 18px;
  color: inherit;
  border-bottom: 2px dotted #e54f46;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  position: relative;
  white-space: nowrap;

  &:after {
    content: "\2193";
    display: block;
    font-size: 18px;
    color: white;
    position: absolute;
    top: 0;
    right: -15px;
  }

}

.hero--main {

  .hero__container {
    @include phones {
      padding-bottom: 35px;
    }
  }

  .hero__content {
    @include phones {
      padding-top: 35px;
    }
  }

  .hero__img {
    @include tablets {
      background-image: url("./pictures/logotype-huge.png");
      background-position: top 3% right 7%;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

.hero__img {
  &--global {
    height: 508px;
    width: 463px;
    position: relative;

    @include phones {
      margin-top: 10px;
    }
  }

  &--payment {
    height: 558px;
    width: 535px;
    position: relative;

    @include phones {
      height: 21.875rem;
      width: 26.4375rem;
    }
  }

  &--omni {
    height: 546px;
    width: 513px;
    position: relative;

    @include phones {
      height: 23.125rem;
      width: 27.0625rem;
    }
  }

  &--fraud {
    height: 474px;
    width: 422px;
    position: relative;
  }

  &--reporting {
    height: 482px;
    width: 655px;
    position: relative;

    @include phones {
      height: 19.125rem;
      width: 27.9375rem;
    }
  }

  &--check {
    height: 493px;
    width: 36.125rem;
    position: relative;

    @include tablets {
      height: 393px;
      width: 778px;
    }

    @include phones {
      height: 18.5625rem;
      width: 31.125rem;
    }
  }

  &--contact-us {
    height: 411px;
    width: 509px;
    position: relative;
  }
}

.hero__pic {
  height: 100%;
  width: 100%;

  &--fraud {
    position: absolute;
    top: 6%;
    left: -9%;

    @include tablets {
      left: 0;
    }
  }

  &--contact-us {
    position: absolute;
    left: 9%;
    top: -2%;

    @include tablets {
      top: 3%;
    }
  }

  &--global {
    position: absolute;
    top: 21%;
    transform: scale(-1, 1);

    @include phones {
      top: 15%;
      right: -15%;
    }
  }

  &--payment {
    position: absolute;
    top: 2%;
    left: 5%;

    @include tablets {
      left: 0;
    }
  }

  &--omni {
    position: absolute;
    top: 2%;
    left: -7%;

    @include phones {
      left: 0%;
    }
  }

  &--check {
    position: absolute;
    left: 20%;
    display: none;

    @include tablets {
      display: block;
      left: 0;
      margin-top: 20px;
    }

    @include phones {
      left: 0;
    }
  }

  &--reporting {
    position: absolute;
    left: 3%;

    @include phones {
      left: 0;
    }
  }
}

.hero {
  &--main {
    .hero__container {
      border-bottom: 2px dotted #e54f46;
    }
  }

  &--contact-us {
    min-height: 510px;
    margin-bottom: 40px;

    .hero__container {
      padding-bottom: 0;
    }

    @include tablets {
      margin-bottom: 0;
    }
  }

  &--paymethods {
    background-image: url("./pictures/payment-left-2.png"), url("./pictures/payment-right.png");
    background-repeat: no-repeat, no-repeat;
    background-position-x: 7%, 97%;
    background-position-y: 35%, 35%;
    background-size: 40%, 40%;
    margin-bottom: 10px;

    @media screen and (max-width: 940px) {
      background-image: none;
    }

    .hero__container {
      justify-content: center;
      text-align: center;
    }

    .hero__content {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (max-width: 940px) {
        width: 100%;
      }
    }

    .hero__subtitle {
      margin-top: 0;
      padding-right: 0;
    }

    .title {
      margin-bottom: 42px;
    }
  }

  &--global {
    min-height: 640px;
    background-image: url("./pictures/countries.png");
    background-size: 57%;
    background-position: 95% 0%;
    background-repeat: no-repeat;

    @include tablets {
      background-position: 50% 58%;
    }

    @include phones {
      background-size: 100%;
      background-position: 0% 65%;
    }

  }
}

.hero--global {
  .title {
    margin-bottom: 35px;
  }

  @include phones {
    .hero__container {
      padding-bottom: 70px;
    }
  }
}

.hero--payment {
  .title {
    margin-bottom: 30px;
  }
}

.hero {
  &--global {
    .hero__container {
      @include tablets {
        padding-top: 46px;
        flex-direction: column;
      }
    }

    .hero__content {
      @include tablets {
        width: 70%;
        margin-bottom: 15px;
      }

      @include phones {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }

  &--payment {
    .hero__container {
      @include tablets {
        padding-top: 46px;
        flex-direction: column;
      }
    }

    .hero__content {
      @include tablets {
        width: 70%;
        margin-bottom: 15px;
      }

      @include phones {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }

  &--omni {
    .hero__container {
      @include tablets {
        padding-top: 46px;
        flex-direction: column;
        padding-bottom: 0;
      }

      @include phones {
        padding-bottom: 70px;
      }
    }

    .hero__content {
      @include tablets {
        width: 70%;
        margin-bottom: 15px;
      }

      @include phones {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }

  &--fraud {
    .hero__container {

      @include tablets {
        padding-top: 46px;
        flex-direction: column;
      }

      @include phones {
        padding-bottom: 70px;
      }
    }

    .hero__content {
      @include tablets {
        width: 70%;
        margin-bottom: 15px;
      }



      @include phones {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }

  &--check {
    background-image: url("./images/icons/checkout-illu.svg");
    background-size: 53%;
    background-position-x: 100%;
    background-position-y: 45%;
    background-repeat: no-repeat;

    @include tablets {
      background-image: none;
    }

    .hero__container {
      @include tablets {
        padding-top: 46px;
        flex-direction: column;
      }
    }

    .hero__content {
      @include tablets {
        width: 70%;
        margin-bottom: 15px;
      }

      @include phones {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }

  &--reporting {
    .hero__container {
      @include tablets {
        padding-top: 46px;
        flex-direction: column;
      }
    }

    .hero__content {
      @include tablets {
        width: 70%;
        margin-bottom: 15px;
      }

      @include phones {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }

  &--contact-us {
    .hero__container {
      @include tablets {
        padding-top: 46px;
        flex-direction: column;
      }
    }

    .hero__content {
      @include tablets {
        width: 70%;
        margin-bottom: 15px;
      }

      @include phones {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
}