.link-checkout {
  background-color: #e9eff5;

  @include tablets {
    min-height: 650px;
    padding: 50px 50px 50px 50px;
  }

  @include phones {
    padding: 50px 0 50px 0;
    min-height: 750px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-image: url('./pictures/paylink-apple.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center left;


    padding: 80px 0 0 80px;

    @include phones {
      background-size: 46%;
      padding: 10px 0 0 0px;
      background-position: bottom center;

    }
  }


  &__info {
    width: 50%;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;

    @include phones {
      width: 100%;
      font-size: 1.5rem;
    }
  }


  &__subtitle {
    width: 50%;
    line-height: 45px;
    margin-bottom: 43px;

    @include phones {
      width: 100%;

      margin-bottom: 30px;
    }
  }

}