.link-easy {

  background-color: white;
  min-height: 500px;

  @include tablets {
    padding: 100px 50px 50px 50px;
  }

  @include phones {
    padding: 50px 0 50px 0;
  }

  &__container {
    display: flex;
    padding: 80px 0 0 80px;

    @include tablets {
      padding: 0;
    }
  }

  &__item {
    @include phones {
      margin-bottom: 15px;
    }
  }

  &__desc {
    margin-bottom: 15px;

    @include phones {
      font-size: 1.5rem;
    }
  }


  &__info {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 30px;
    display: flex;
    justify-content: space-between;

    @include phones {
      flex-direction: column;
      margin-bottom: 0;
    }

  }

  &__item {
    width: 46%;

    @include phones {
      width: 100%;

      margin-bottom: 50px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }


  &__subtitle {
    margin-bottom: 43px;
    line-height: 45px;

    @include phones {
      margin-bottom: 20px;
    }
  }

  &__link {
    display: inline;
    font-size: 18px;
    font-weight: 300;
    color: $colorRed;
    border-bottom: 1px dotted $colorRed;
    outline: none;
    cursor: pointer;
    white-space: nowrap;
    position: relative;

    &:after {
      content: "\2192";
      display: block;
      font-size: 18px;
      color: $colorRed;
      position: absolute;
      top: 0;
      right: -25px;
    }

    @include phones {
      font-size: 1.5rem;
    }
  }


}