.data-feature {
  background-color: white;
  min-height: 500px;

  @include tablets {
    padding: 0px 50px 50px 50px;
  }

  @include phones {
    padding-left: 0;

  }


  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

  }

  &__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include phones {
      flex-direction: column;
    }
  }

  &__item {
    margin-right: 100px;
    flex: 1;

    &:last-child {
      margin-right: 0;
    }

    @include phones {
      margin-right: 0;
      margin-bottom: 50px;
    }

    &-subtitle {
      font-size: 28px;
      margin-top: 23px;
      margin-bottom: 23px;
      line-height: 30px;
      font-weight: 500;

      @include phones {
        font-size: 2rem;
        line-height: 2.4rem;
      }
    }
  }

  &__icon {
    background-repeat: no-repeat;
  }

  &__icon--1 {
    width: 44px;
    height: 42px;
    background-image: url('./images/icons/icon-hasta.svg');

  }

  &__icon--2 {
    width: 37px;
    height: 54px;
    background-image: url('./images/icons/icon-bucks.svg');

  }



  &__info {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 15px;

    @include phones {
      font-size: 1.3rem;
    }
  }

  &__link {
    display: inline;
    white-space: nowrap;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: $colorRed;
    border-bottom: 1px dotted $colorRed;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    position: relative;
    white-space: nowrap;

    &:after {
      content: "\2192";
      display: block;
      font-size: 18px;
      color: $colorRed;
      position: absolute;
      top: 0;
      right: -25px;
    }
  }
}