.payment-methods {
  padding-top: 92px;

  @include tablets {
    margin-bottom: 50px;
  }

  &__container {
    display: flex;
    flex-direction: column;

    @include tablets {
      max-width: 90%;
    }

    @media screen and (max-width: 580px) {
      width: 100%;
      align-items: flex-start;
    }
  }

  &__subtext {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 300;
  }

  &__subtitle {
    margin-bottom: 25px;
  }

  &__europe,
  &__america {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 580px) {
      width: 90%;
    }
  }

  &__europe {
    border-bottom: 1px solid #d6d6d6;
  }

  &__america {
    padding-top: 59px;
  }

  &__row {
    margin-bottom: 48px;

    @media screen and (max-width: 580px) {
      margin-left: 15px;
      margin-bottom: 0;
      width: 100%;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:first-of-type {
      .payment-methods__item {

        border-bottom: 1px dotted #d6d6d6;
      }
    }

    @include phones {
      &:nth-of-type(2) {
        .payment-methods__item {
          border-bottom: 1px dotted #d6d6d6;

          &:last-child {
            border: none;
          }
        }
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 580px) {
      flex-direction: column;
    }

  }

  &__item {
    flex: 1;
    padding-bottom: 45px;
    margin-right: 25px;

    &--desk {
      display: block;

      @include phones {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @include phones {
        display: flex;
        flex-direction: column;
      }
    }

    @media screen and (max-width: 580px) {
      margin-right: 0;
      width: 100%;
      margin-bottom: 30px;
    }

    &:last-child {
      margin-right: 0;
    }

    &-content {

      @include phones {
        display: flex;
        justify-content: flex-start;
      }

    }

    &-col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 100%;

      &:first-child {
        margin-right: 10px;
      }
    }

    &-head,
    &-row {
      display: flex;
      align-items: center;
    }

    &-head {
      margin-bottom: 20px;

    }

    &-row {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-subtitle {
      margin-bottom: 0;
      font-size: 28px;
      font-weight: 500;

      @include phones {
        font-size: 2rem;
      }
    }
  }

  &__flag {
    margin-right: 15px;
    width: 40px;
    height: 24px;

  }

  &__desc {
    font-size: 20px;
    font-weight: 300;

    @include phones {
      font-size: 1.3rem;
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }

  &__pay-icon {
    margin-right: 16px;

    @include phones {
      margin-right: 0;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &--maestro {
      width: 29px;
      height: 18px;
    }

    &--amex {
      width: 21px;
      height: 21px;
    }

    &--ali {
      width: 22px;
      height: 21px;
    }

    &--master {
      width: 29px;
      height: 18px;
    }

    &--paypal {
      width: 20px;
      height: 23px;
    }
  }
}