.contact {
  min-height: 450px;

  &-global {
    .contact__pic {
      background-image: url('./images/icons/start-illu-2.svg');
      background-repeat: no-repeat;
      background-position: right -5% bottom -20px;
      background-size: 100% 100%;

    }

    .contact__img {
      width: 32.875rem;
      height: 450px;
      display: flex;
      align-items: flex-end;
    }
  }

  &-payment {
    min-height: 460px;

    .contact__pic {
      background-image: url('./images/icons/start-illu-3.svg');
      background-repeat: no-repeat;
      background-position: right -5% bottom -20px;
      background-size: 100% 100%;

    }

    .contact__img {
      width: 574px;
      height: 450px;
      display: flex;
      align-items: flex-end;
    }
  }

  &-omni {
    min-height: 450px;

    .contact__pic {
      background-image: url('./images/icons/start-illu-1.svg');
      background-repeat: no-repeat;
      background-position: right -5% bottom -20px;
      background-size: 100% 100%;

    }

    .contact__img {
      width: 574px;
      height: 436px;
      display: flex;
      align-items: flex-end;
    }
  }

  &-fraud {
    padding-top: 95px;

    .contact__pic {
      background-image: url('./images/icons/start-illu-2.svg');
      background-repeat: no-repeat;
      background-position: right -5% bottom -20px;
      background-size: 100% 100%;

    }

    .contact__img {
      width: 574px;
      height: 450px;
      display: flex;
      align-items: flex-end;
    }
  }

  &-reporting {

    .contact__pic {
      background-image: url('./images/icons/start-illu-5.svg');
      background-repeat: no-repeat;
      background-position: right -5% bottom -20px;
      background-size: 100% 100%;

    }

    .contact__img {
      width: 574px;
      height: 436px;
      display: flex;
      align-items: flex-end;
    }
  }

  &-check {
    padding-top: 10px;
    min-height: 430px;

    .contact__pic {
      background-image: url('./images/icons/start-illu-3.svg');
      background-repeat: no-repeat;
      background-position: right -5% bottom -20px;
      background-size: 100% 100%;

    }

    .contact__img {
      width: 574px;
      height: 436px;
      display: flex;
      align-items: flex-end;
    }
  }

  &__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    @include tablets {
      padding: 15px 15px 0px 15px;
      flex-direction: column-reverse;
      align-items: center;
    }

    @include phones {
      padding: 15px 0px 0px 0px;
    }
  }

  &__pic {
    width: 571px;
    height: 450px;
  }

  &__img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;

    @include tablets {
      margin-top: 40px;
    }

    @include phones {
      margin-top: 20px;
    }
  }

  &__desc {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include tablets {
      width: 70%;
    }

    @media screen and (max-width: 500px) {
      width: 90%;
    }

    @include phones {
      align-self: flex-start;
    }
  }

  &__subtitle {
    line-height: 1.15;
  }

}