.payments {
  min-height: 700px;
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("./pictures/global-left.png"), url("./pictures/global-right.png");
  background-repeat: no-repeat, no-repeat;
  background-position-x: left, right;
  background-position-y: center, center;
  background-size: 13%, 22%;
  margin: 50px 50px 0px 50px;

  @media screen and (max-width: 1020px) {
    background-image: none;
    margin: 50px 0px 0px 0px;
  }

  @include phones {
    padding-top: 0;
    padding-bottom: 40px;
    margin: 50px 0px 0px 0px;
  }


  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    max-width: 44.5rem;

    @media screen and (max-width: 1020px) {
      align-items: flex-start;
      max-width: 100%;
      justify-content: center;
    }

    @include tablets {
      max-width: 90%;
    }

  }

  &__intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
    margin-bottom: 35px;

    @media screen and (max-width: 1020px) {
      padding-left: 0;
    }
  }

  &__subtitle {
    margin-bottom: 10px;

    @include phones {
      margin-bottom: 15px;
    }
  }

  &__subtext {
    max-width: 660px;
    font-size: 30px;
    font-weight: 500;
    color: #597e96;
    line-height: 33px;

    @include phones {
      font-size: 2.3rem;
      line-height: 2.3rem;
    }
  }

  &__desc {
    font-size: 24px;
    font-weight: 300;
    max-width: 680px;
  }
}