.main-menu {
  min-height: 100vh;
  background: #57687f;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 15;
  display: none;
}

.main-menuLeft {
  width: 60%;
  height: 100vh;
  background-color: #eceef3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

}

.main-menuBtn {
  display: block;
  background-color: transparent;
  border: 1px solid transparent;
  width: 40px;
  height: 40px;
  background: url(./pictures/cross.png) no-repeat;
  position: absolute;
  right: -39px;
  top: 5%;
}

.main-menu__list {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.main-menu__item {
  display: flex;
  margin: 20px 0px;
  border-right: 4px solid transparent;

  &:hover {
    border-right: 4px solid red;
  }
}

.main-menu__img {
  margin: 0 20px;
}

.main-menu__text {
  color: #777b8e;
  font-size: 1.23rem;
  font-weight: 400;

  display: flex;
  align-items: center;
}

.main-menu__pic {
  width: 30px;
  height: 30px;
  fill: transparent;
  stroke: #e63f47;
  stroke-width: 2px;
  transition: 0.3s;

  &:hover {
    stroke: red;
  }

}

.order-call__pic {
  width: 30px;
  height: 30px;
  fill: transparent;
  stroke: red;
  fill-rule: nonzero;
  transition: 0.3s;

  &:hover {
    stroke: red;
  }
}

.socials__list-row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.main-menu__link {
  display: flex;
  align-items: center;
}