.section {
  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 0px 52px 0px;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: $colorDustyBlue;
    text-transform: uppercase;
    position: relative;
    font-size: 36.5px;
    margin-bottom: 22px;

    @include phones {
      text-align: center;
    }

    &:before {
      content: "";
      position: absolute;
      height: 95%;
      width: 5px;
      top: 0%;
      left: -13px;
      background-color: $colorRed;

      @include phones {
        display: none;
      }
    }
  }

  &__info {
    color: $colorDustyBlue;
    font-size: 20px;
    margin-bottom: 40px;

    @include phones {
      text-align: center;
    }
  }
}

.item {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @include phones {
    flex-direction: column;
    justify-content: stretch;
  }

  &__content {
    max-width: 50%;
    padding: 30px;
    background-color: $colorLightGray;

    @include phones {
      max-width: 100%;
    }
  }

  &__examples {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &--big {
      flex-direction: column;
      align-items: center;
    }

    &-row {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 10px;
      width: 100%;

      &:last-child {
        margin-bottom: 0;
      }

      .item__example {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        max-width: 45%;

        @include phones {
          flex-direction: column;
        }


        &-icon {
          margin-bottom: 0px;
          margin-right: 15px;
          min-width: 95px;

          @include phones {
            margin-right: 0;
            margin-bottom: 10px;
          }
        }

        &-desc {
          text-align: left;
        }
      }
    }
  }


  &__example {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 130px;
    margin-right: 20px;

    @include phones {
      min-width: 50%;
      margin-right: 0;
      margin-bottom: 10px;
    }

    &:last-child {
      margin-right: 0;
    }

    &-icon {
      margin-bottom: 25px;
      min-width: 95px;

      @include phones {
        max-width: 96px;
      }
    }

    &-desc {
      font-size: 15.5px;
      text-transform: uppercase;
      color: $colorDustyBlue;
      text-align: center;
    }
  }

  &__subtitle {
    margin-bottom: 16px;
  }

  &__desc {
    font-size: 15.5px;
    margin-bottom: 40px;
    text-align: justify;
    position: relative;
    padding-right: 70px;

    @include phones {
      padding-right: 0;
      font-size: 1.1rem;
    }

    &:after {
      content: "";
      position: absolute;
      top: 40%;
      right: -8%;
      background-image: url("./pictures/decor-item.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      width: 90px;
      height: 30px;
      z-index: 10;

      @include phones {
        display: none;
      }
    }
  }
}

.carousel {
  padding: 10px;
  padding-top: 50px;
  background-color: $colorLightBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 50%;

  @include phones {
    padding-top: 50px;
    max-width: 100%;
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex: 1;
    min-height: 406px;

    @include phones {
      margin-bottom: 50px;
    }
  }

  &__img {
    max-height: 407px;
    max-width: 176px;
    width: 100%;
    height: 100%;

    &--uni {
      max-width: 314px;
      max-height: 254px;
    }

    &--wine {
      max-width: 286px;
      max-height: 416px;
    }

    &--metal {
      max-width: 325px;
      max-height: 479px;
    }

    &--bench {
      max-width: 341px;
      max-height: 215px;
    }

    &--cart {
      max-width: 230px;
      max-height: 313px;
    }

    &--werkstatt {
      max-width: 302px;
      max-height: 338px;
    }

    &--island {
      max-width: 280px;
      max-height: 400px;
    }

    &--bake {
      max-width: 257px;
      max-height: 380px;
    }

    &--drogery {
      max-width: 241px;
      max-height: 377px;
    }

    &--azs {
      max-width: 314px;
      max-height: 254px;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
  }
}

.title {
  font-size: 34px;
  font-weight: bold;
  line-height: 1.1;
  text-transform: uppercase;

  @include phones {
    font-size: 1.46rem;
  }
}

.subtitle {
  font-size: 15.5px;
  text-transform: uppercase;
  color: $colorRed;

  @include phones {
    font-size: 1.23rem;
  }
}