.section {
  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 0px 52px 0px;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: $colorDustyBlue;
    text-transform: uppercase;
    position: relative;
    font-size: 36.5px;
    margin-bottom: 22px;

    &:before {
      content: "";
      position: absolute;
      height: 95%;
      width: 5px;
      top: 0%;
      left: -13px;
      background-color: $colorRed;
    }
  }

  &__info {
    color: $colorDustyBlue;
    font-size: 20px;
    margin-bottom: 40px;
  }
}

.item {
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  &__examples {
    display: flex;
    justify-content: center;
  }

  &__example {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: 130px;
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }

    &-icon {
      margin-bottom: 25px;
    }

    &-desc {
      font-size: 15.5px;
      text-transform: uppercase;
      color: $colorDustyBlue;
      text-align: center;
    }
  }

  &__content {
    padding: 30px;
    background-color: $colorLightGray;
  }

  &__subtitle {
    margin-bottom: 16px;
  }

  &__desc {
    font-size: 15.5px;
    margin-bottom: 40px;
    text-align: justify;
  }
}

.carousel {
  background-color: $colorLightBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;

  &__slide {
    min-width: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    width: 90%;
    height: 90%;
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.title {
  font-size: 34px;
  font-weight: bold;
  line-height: 1.1;
  text-transform: uppercase;
}

.subtitle {
  font-size: 15.5px;
  text-transform: uppercase;
  color: $colorRed;
}