.section {
  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 0px 52px 0px;
  }

  &__body {
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: $colorDustyBlue;
    text-transform: uppercase;
    position: relative;
    font-size: 36.5px;

    &:before {
      content: "";
      position: absolute;
      height: 95%;
      width: 5px;
      top: 0%;
      left: -13px;
      background-color: $colorRed;
    }
  }

  &__info {
    color: $colorDustyBlue;
    font-size: 20px;
    margin-bottom: 40px;
  }
}

.item {
  display: flex;
  justify-content: space-between;

  &__examples {
    display: flex;
    justify-content: space-between;
  }

  &__example {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
}

.title {
  font-size: 34px;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 22px;
}

.btn {
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding: 22px 44px;
  background-color: $colorRed;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 1px 1.7px 4.8px 0.3px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  &:hover {
    transform: translateY(3px);
    transition: .5s ease-in-out;
  }
}