$colorRed: #df271c;
$colorWhite: #fff;
$colorBlack: #000;
$colorDark: #101820;
$colorYellow: #f8c86b;
$colorLightBlue: #d1f1fc;
$colorPurple: #e1c0ff;
$colorPeach: #ffeae2;
$colorBeige: #f9e8e3;
$colorUltramarine: #2e52ee;
$colorSkyBlue: #e9f3fb;
$colorFraudBlue: #a2d1e2;
$colorDustyBlue: #f1f7fd;
$colorPaymentBlue: #aed8ec;
$colorStrawberry: #ffadb5;
$colorPowder: #fdd9d4;
$colorDarkBlue: #5a7e95;

$tablets: 768px;
$phones: 480px;